.title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px !important;
    width: 100%;
    max-width: 200px !important;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.input-field {
    width: 100%;
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.button-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espacio entre los botones */
}

.btn-submit, .btn-portal {
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.btn-submit {
    background-color: #7e4a8b;
    color: white;
}

    .btn-submit:hover {
        transform: scale(1.05);
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    }


.btn-portal {
    background-color: #7e4a8b;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 15px 30px;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

    .btn-portal:hover {
        transform: scale(1.05);
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    }

    .btn-portal i {
        font-size: 24px;
    }
